@import '../../scss/common';
@import 'vars';

.mdl-button, .mdl-textfield {
  width: 100% !important;
  @include for-mobile() {
    margin-top: 1em !important
  }
}

.mdl-textfield {
  &__input {
    border-bottom-color: $light_color !important;
  }
  &__label {
    color: $light_color !important;
  }
}
.mdl-button {
  background-color: $primary_blue !important;
  color: #FFF !important;
  font-weight: 600 !important;
  margin-top: 1.3em !important;
  height: 3em !important;
  @include for-mobile () {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    border-radius: 0 !important;
  }
}
