@import '../../scss/common';
@import './vars';

.editor {
  background-color: #FFF;
  overflow: auto; // "div vs h1's margin": https://stackoverflow.com/a/6930055/4694834
  margin: auto auto 3em auto;
  @include for-desktop () {
    width: 80%;
    height: 30em;
    border-radius: .1em;
    transform: translateX(.2em);
    box-shadow: 0 0 .5em $box_shadow_color;
  }
  @include for-mobile () {
    transform: translateY(5em);
    $border: 1px solid #CFDBE7;
    //noinspection CssOptimizeSimilarProperties
    border-top: $border;
    //noinspection CssOptimizeSimilarProperties
    border-bottom: $border;
  }
  &__h1 {
    margin-top: 1.5em;
    margin-left: 1.5em;
    color: lighten($primary_text_color, 20%);
    font-size: 17pt;
  }
}
