@import '../../scss/common';

.editor {
  &__field {
    margin-bottom: .3em;
    &__content, &__edit_box {
      vertical-align: middle;
    }
    &__content {
      color: $primary_text_color;
      display: inline-block;
      @include for-desktop () {
        margin-left: 1.5em;
        padding: .3em .4em;
        background-color: #F5F7F7;
      }
      @include for-mobile () {
        margin-left: 1.7em;
        font-size: 13pt;
      }
    }
    &__edit_box {
      background-color: #ECF0F5;
      padding: .23em .7em;
      font-size: 12pt;
      color: #727D88;
      @include for-mobile () {
        display: none;
      }
      &--firefox {
        padding: .2em .6em;
      }
    }
    &--bold {
      font-weight: bold;
    }
  }
}
