@import '../../scss/common';
@import './vars';

body {
  background-color: #F5F7F9;
}

.profile {
  @include for-desktop () {
    background-color: #FFF;
    min-height: 19.8em;
    margin: 4em auto 2em auto;
    width: 80%;
  }
  &__info {
    @include for-desktop () {
      display: inline-block;
      margin-left: 2em;
      transform: translateY(3em);
    }
    &__location, &__phone {
      color: #333;
      font-size: 9pt;
      &__icon {
        vertical-align: middle;
        color: #939699;
        font-size: 17pt;
        margin-right: .5em;
        @include for-mobile () {
          margin-left: 1em;
        }
      }
    }
    $top_most: 1.3em;
    $top_less: .5em;
    &__location {
      @include for-desktop () {
        margin-top: $top_most;
      }
      @include for-mobile () {
        margin-top: $top_less;
      }
    }
    &__phone {
      @include for-desktop () {
        margin-top: $top_less;
      }
      @include for-mobile () {
        margin-top: $top_most;
      }
    }
    &__name {
      color: #333;
      font-weight: 600;
      @include for-desktop () {
        font-size: 14pt;
      }
      @include for-mobile () {
        font-size: 16pt;
        text-align: center;
        margin-top: 1em;
      }
    }
  }
  &__cover_image_uploader {
    $common_color: #D0DCE7;
    &.mdl-button {
      border: 1px solid $common_color !important;
      border-radius: $button_border_radius !important;
      color: #727E88 !important;
      text-transform: initial !important;
      position: absolute;
      margin-top: 5em;
      left: 50%;
      transform: translateX(-50%);
      @include for-mobile () {
        display: none !important;
      }
    }
    &__icon {
      vertical-align: middle;
      color: $common_color !important;
      font-size: 17pt !important;
      margin-right: .7em !important;
    }
  }
  &__logout.mdl-button {
    color: $primary_blue !important;
    background-color: transparent !important;
    margin-top: 1em;
    margin-right: 1em;
    float: right;
    @include for-desktop () {
      font-weight: 600;
      padding-left: 1.7em !important;
      padding-right: 1.7em !important;
      border-radius: $button_border_radius !important;
      border: 1px solid $primary_blue !important;
    }
    @include for-mobile () {
      font-weight: bold;
    }
  }
  &__image_wrapper {
    overflow: hidden;
    display: inline-block;
    @include for-desktop () {
      $square_size: 12em;
      height: $square_size;
      width: $square_size;
      margin-left: 1.4em;
      transform: translateY(6.5em);
      box-shadow: 0 0 1.5em #DDD;
    }
    @include for-mobile () {
      $square_size: 9.5em;
      height: $square_size;
      width: $square_size;
      position: relative;
      box-shadow: 0 0 1.5em #BBB;
      display: inline-block;
      margin-top: 5em;
      left: 50%;
      transform: translateX(-50%);
    }
    &__img {
      @include for-desktop () {
        transform: translateX(-29%);
      }
      @include for-mobile () {
        transform: translateX(-37%);
      }
    }
  }
}
