@import '../../scss/common';
@import './vars';

.profile__menu {
  background-color: white;
  height: 3.5em;
  @include for-desktop () {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    box-shadow: 0 .1em .5em 0 $box_shadow_color;
  }
  @include for-mobile () {
    // TODO: Found out a way to hide scroll on Firefox
    transform: translateY(3.64em);
    box-shadow: 0 0 .7em darken($box_shadow_color, 20%);
    overflow-x: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__tabs {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    @include for-mobile () {
      transform: translateX(1.5em);
    }
    @include for-desktop () {
      transform: translateX(15.1em);
    }
    &__item {
      top: 50%;
      color: $primary_text_color;
      transform: translateY(50%);
      vertical-align: middle;
      display: inline-block;
      margin-right: 1em;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      &--active::after {
        content: '';
        height: .3em;
        display: block;
        background-color: #018DFD;
        transform: translateY(.5em)
      }
    }
  }
}
