@import '../../scss/common';

.profile__image_wrapper {
  overflow: hidden;
  display: inline-block;
  @include for-desktop () {
    $square_size: 12em;
    height: $square_size;
    width: $square_size;
    margin-left: 1.4em;
    transform: translateY(6.5em);
    box-shadow: 0 0 1.5em #DDD;
  }
  @include for-mobile () {
    $square_size: 9.5em;
    height: $square_size;
    width: $square_size;
    position: relative;
    box-shadow: 0 0 1.5em #BBB;
    display: inline-block;
    margin-top: 5em;
    left: 50%;
    transform: translateX(-50%);
  }
  &__img {
    @include for-desktop () {
      transform: translateX(-29%);
    }
    @include for-mobile () {
      transform: translateX(-37%);
    }
  }
}
